@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.stopwatch__container {
    width: 160px;
}

.stopwatch__headline {
    font-size: 35px;
    line-height: 35px;
}

.stopwatch__display {
    background: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 25px;
    height: 275px;
    overflow: scroll;
}
.stopwatch {
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: 1%;
    top: 0;
}
.stopwatch__buttons {
    text-align: center;
    width: 100px;
    margin-top: 12px;
 }

.stopwatch__start,
.stopwatch__stop,
.stopwatch__reset,
.stopwatch__lap {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
}

.stopwatch__face {
    background: url('clock-bg.png');
    background-size: 164px 164px;
    background-position-x: 0px;
    border: 1px solid black;
    border-radius: 50%;
    height: 164px;
    position: relative;
    text-align: center;
    width: 164px;
    box-sizing: content-box;
 }
.stopwatch__hand-wrap {
     bottom: 0;
     left: 0;
     position: absolute;
     top: 0;
     right: 0;
     z-index: 1;
 }
.stopwatch__hand {
     background: darkorange;
     height: 48%;
     left: 49%;
     position: absolute;
     top: 10%;
     transform-origin: 50% 83%;
     width: 3px;
     z-index: 1;
}
.stopwatch__time {
    font-family: Arial;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    padding: 3px 7px;
    position: relative;
}
